.cardMovie {
  height: auto;
  background-color: #f0f0f0;
  padding: 5%;
}
h1 {
  color: #ee1515;
}
.wrapper {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  padding: 5%;
  color: #ee1515;
}
.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #f0f0f0;
  height: 480px;
}
.content-header-image {
  width: 70%;
  height: 80%;
  aspect-ratio: 9/16;
}
.content-header-image img {
  border-radius: 12px;
}
.content-header-title {
  height: 100px;
  max-height: 150px;
}
.card-title {
  font-weight: 900;
}
.content-body {
  width: 70%;
  padding: 0 5%;
}
.images {
  width: 100%;
  border-radius: 5px;
  height: auto;
}
.content-body > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-text {
  font-weight: 700;
}
p {
  text-align: justify;
}
img {
  border: none;
}
.row.card-movie {
  --bs-gutter-x: 0rem;
  margin: 0;
}
.movieImage.card {
  height: 100%;
}
.card-content {
  width: 100%;
}
.p-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer button {
  padding: 8px 16px;
  border: 2px solid #EE1515;
  outline: none;
  background-color: #ee1515;
  color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;
}

.modal-footer button.cancel-button {
  background-color: #fff;
  color: #ee1515;

}

button.cancel-button:hover,
button.submit-button:hover {
  transform: scale(90%);
}

button.cancel-button:active,
button.submit-button:active {
  transform: scale(80%);
}

.content-body .content-body-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
}

.content-body-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 1.5rem;
  border: none;
  border-radius: 100%;
  background-color: #EE1515;
  color: #F0F0F0;
  transition: 0.3s ease;
}

.content-body-button button:hover {
  transform: scale(105%);
}

.content-body-button button:active {
  transform: scale(90%);
}

@media screen and (max-width: 1024px) {
  .content-body {
    width: 100%;
  }

  .content-header {
    height: auto;
  }

  .content-header-image {
    width: 100%;
    height: auto;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .images {
    transform: scale(110%);
  }
}
